<div class="col-sm-6 col-xs-12 mb-32 mt-32">
    <div class="content-item__statistic type-fluid-display-03 mb-xs">{{ statistic }}</div>
    <div class="content-item__header fw-b type-heading-02 mb-xs">{{ heading|trans }}</div>
    <div class="content-item__copy type-body-compact-02 mb-md">{{ copy|trans }}</div>

    {% if cta is defined and cta %}
        {% set cta = cta|merge({
            'variant': 'link',
            'icon': 'ri-arrow-right-line',
            'href': cta.link
        }) %}
        {% include '@MauticCore/Helper/button.html.twig' with {buttons: [cta]} %}
    {% endif %}
</div>
