<div class="mb-64 mt-32">
    <hr>
    <div class="col-sm-4 col-xs-12 mb-xs">
        <div class="content-item__header type-heading-02 mb-32">{{ heading|trans }}</div>
    </div>
    <div class="col-sm-8 col-xs-12">
        {{ childContainer }}
    </div>
</div>