{% if orientation is defined and orientation == 'horizontal' %}
<div class="col-sm-6 col-xs-12 mb-32">
    <div class="row-no-gutters">
        <div class="col-sm-2">
            <div class="mb-xs">
                {% include '@MauticCore/Helper/pictogram.html.twig' with {'pictogram': pictogram, 'size': 48} %}
            </div>
        </div>
        <div class="col-sm-10">
            <div class="content-item__heading fw-b type-heading-02 mb-xs">{{ heading|trans }}</div>
            <div class="content-item__copy type-body-compact-02 mb-md">{{ copy|trans }}</div>

            {% if cta is defined and cta %}
                {% set cta = cta|merge({
                    'variant': 'link',
                    'icon': 'ri-arrow-right-line',
                    'href': cta.link
                }) %}
                {% include '@MauticCore/Helper/button.html.twig' with {buttons: [cta]} %}
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="col-sm-6 col-xs-12 mb-32">
    <div class="mb-xs">
        {% include '@MauticCore/Helper/pictogram.html.twig' with {'pictogram': pictogram, 'size': 48} %}
    </div>
    <div class="content-item__heading fw-b type-heading-02 mb-xs">{{ heading|trans }}</div>
    <div class="content-item__copy type-body-compact-02 mb-md">{{ copy|trans }}</div>

    {% if cta is defined and cta %}
        {% set cta = cta|merge({
            'variant': 'link',
            'icon': 'ri-arrow-right-line',
            'href': cta.link
        }) %}
        {% include '@MauticCore/Helper/button.html.twig' with {buttons: [cta]} %}
    {% endif %}
</div>
{% endif %}