<div class="mt-64 {% if hasBorder is defined and hasBorder %}mb-64{% else %}mb-160{% endif %}">
    {% if heading is defined %}
    <div aria-level="3" class="content-block__heading type-fluid-heading-04 mb-32">{{ heading|trans }}</div>
    {% endif %}
    
    {% if copy is defined %}
        {% if copy is iterable %}
            {% for item in copy %}
                <div class="content-block__copy type-body-02 mb-lg">{{ item|trans }}</div>
            {% endfor %}
        {% else %}
            <div class="content-block__copy type-body-02 mb-lg">{{ copy|trans }}</div>
        {% endif %}
    {% endif %}
    
    {% if childContainer is defined %}
        {{ childContainer }}
    {% endif %}
    
    <div class="mt-32">
        {% if cta is defined and cta %}
        {% set cta = cta|merge({
            'variant': 'link',
            'icon': 'ri-arrow-right-line',
            'href': cta.link
        }) %}
        {% include '@MauticCore/Helper/button.html.twig' with {buttons: [cta]} %}
        {% endif %}
    </div>
</div>