<ol class="list list--ordered list--numbers">
    {% for item in items %}
        <li class="list__item">
            <span class="list__item__marker list__item__marker--{{ color|default('neutral') }}">{{ loop.index0 + 1 }}</span>
            <span class="list__item__label">{{ item|trans }}</span>
        </li>
    {% endfor %}
</ol>