{# @MauticCore/Helper/_illustration.html.twig #}
{% set svg_path = '@bundles/CoreBundle/Assets/illustrations/' ~ illustration ~ '.svg' %}
{% set fill_color = color|default('var(--icon-primary)') %}

<div class="illustration animation--slide-in-up illustration--size-{{ size }}" style="fill: {{ fill_color }}">
    {{ source(svg_path) }}
</div>
