<div class="opening-trend">
    <div class="opening-trend__chart" data-toggle="opening-trend">
        <div class="chart-wrapper">
            <div class="row">
                <div class="col-md-6">
                    {{- include('@MauticCore/Helper/chart.html.twig', {
                        'chartData': days,
                        'chartType': 'bar',
                        'chartHeight': 300
                    }) -}}
                </div>
                <div class="col-md-6">
                    {{- include('@MauticCore/Helper/chart.html.twig', {
                        'chartData': hours,
                        'chartType': 'hour',
                        'chartHeight': 300,
                        'xLabels': true
                    }) -}}
                </div>
            </div>
        </div>
    </div>
</div>
