{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent %}projects{% endblock %}

<div class="panel panel-default bdr-t-wdh-0">
    <div class="page-list">
        {{ block('_content') }}
    </div>
</div>
